<!-- Spinner -->
<ion-spinner
  name="circles"
  color="success"
  *ngIf="isLoading | async"
></ion-spinner>
<ion-backdrop *ngIf="isLoading | async"></ion-backdrop>

<ion-header [translucent]="true" class="custom-header" id="header">
  <!-- Toast -->
  <ion-toast
    [isOpen]="toast ? true : false"
    position="top"
    [message]="toast?.message"
    position-anchor="header"
    [ngClass]="{
      success: toast?.type === 'success',
      error: toast?.type === 'error'
    }"
    duration="2000"
  ></ion-toast>
  <ion-toolbar>
    <ion-title>
      <img src="\assets\logo-bricoware250.png" alt="Logo" class="header-logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
