

  .product-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(135deg, #aae9c0, #135b16);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear {
    from{
        opacity: 0;
        // clip-path: inset(100% 100% 0 0);
        // transform: translateX(-100px);
         scale: 0.5;
    }to{
        opacity: 1;
        // clip-path: inset(0 0 0 0);
        // transform: translateX(0px);
         scale: 1;
    }
}
  
  .shop-name {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #000000; /* Bordo bianco attorno all'insegna */
    border-radius: 8px;
    font-family: 'Georgia', serif; /* Font elegante */
    font-weight: bold;
    font-size: 24px;
    color: #000000; /* Testo bianco per contrastare con il verde */
  }
  
  ion-card-header {
    padding: 0;
  }
  
  ion-card-content {
    font-size: 14px;
  }
  
  ion-item {
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #ffffff; /* Sfondo bianco per contrastare */
    padding: 6px;
  }
  
  ion-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .noProduct {
    display: flex;
    flex-direction: column; /* Dispone l'icona sopra la scritta */
    justify-content: center;
    align-items: center;
    position: fixed; /* Rende l'elemento fisso nella finestra */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Occupa tutta l'altezza della finestra */
    background-color: rgb(255, 255, 255); /* Sfondo bianco */
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif; /* Font elegante */
    color: rgba(100, 198, 103, 0.7); /* Colore verde sbiadito per il testo */
    z-index: 9999; /* Assicurati che sia sopra gli altri elementi */
    pointer-events: none; /* Disabilita l'interazione */
  }
  
  .noProduct ion-icon {
    font-size: 3rem; /* Imposta una dimensione per l'icona */
    margin-bottom: 1rem; /* Distanza tra l'icona e il testo */
    color: #4CAF50; /* Colore verde per l'icona */
  }


  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Distanza dalle card */
  }
  
  
  
  