<ion-content [fullscreen]="true">
  <div class="view" [style.margin-top]="'5rem'">
    <!-- Controllo se ci sono prodotti -->
    @if (productsList.products.length >0) {
    <div class="product-count">
      <ion-icon name="checkmark-circle" size="large"></ion-icon>
      Hai rilevato {{ productsList.products.length === 1 ?
      productsList.products.length + ' prodotto' : productsList.products.length
      + ' prodotti' }}.
    </div>

    <!-- Pulsante per inviare i prodotti -->
    <div class="center-button">
      <ion-button expand="block" color="primary" (click)="sendProducts()">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        Invia
      </ion-button>
    </div>

    <!-- Lista dei prodotti -->
    <ion-list>
      <ion-item-sliding
        *ngFor="let prod of productsList.products"
        [class.removing]="removingProducts.has(prod)"
      >
      <ion-item>
        <ion-label>
          <h2><strong>{{ prod.shopName }}</strong></h2>
          <p><strong>Ean:</strong> <span> {{ prod.ean }}</span></p>
          <p><strong>Prezzo:</strong> <span> {{ prod.price }}€</span></p>
          <p><strong>PROMO:</strong> <span> {{ prod.inPromo ? 'Si' : 'No' }}</span></p>
          <p><strong>Utente:</strong> <span> {{ prod.userCode }}</span></p>
          <p><strong>Note:</strong> <span> {{ prod.note }}</span></p>
          <p><strong>Data:</strong> <span> {{ prod.date }}</span></p>
        </ion-label>
      </ion-item>

        <!-- Pulsante per eliminare il prodotto -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="confirmRemoveProduct(prod)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    }@else {
    <div class="noProduct">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      Nessun Prodotto Aggiunto
    </div>
    }
  </div>
</ion-content>
