<ion-content [fullscreen]="true">
  <div class="view" [style.margin-top]="'8rem'">
    <!-- Controllo se ci sono prodotti -->
    @if (productsList.products.length > 0) {
    <div class="product-count">
      <ion-icon name="checkmark-circle" size="large"></ion-icon>
      Hai rilevato {{ productsList.products.length === 1 ?
      productsList.products.length + ' prodotto' : productsList.products.length
      + ' prodotti' }}.
    </div>

    <!-- Pulsante per inviare i prodotti -->
    <div class="center-button">
      <ion-button
        expand="block"
        color="primary"
        (click)="uploadPhotosAndSendEmail()"
      >
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        Invia
      </ion-button>
    </div>

    <!-- Lista dei prodotti -->
    <ion-list>
      <ion-item-sliding
        *ngFor="let prod of productsList.products"
        [class.removing]="removingProducts.has(prod)"
      >
        <ion-item>
          <ion-label>
            <p><strong>Ean:</strong> <span> {{ prod.ean }}</span></p>
            <p><strong>Località:</strong><span>{{prod.location}}</span></p>
            <div class="price-container">
              <strong>Prezzo(€):</strong>
              <ion-input
                type="number"
                [(ngModel)]="prod.price"
                [disabled]="!isEditingPrice(prod)"
              ></ion-input>
              <ion-icon
                name="pencil"
                (click)="enableEditPrice(prod)"
                *ngIf="!isEditingPrice(prod)"
                style="cursor: pointer; color: green"
              ></ion-icon>
              <ion-icon
                name="checkmark"
                (click)="prod.price !== null ? savePrice(prod) : null"
                *ngIf="isEditingPrice(prod)"
                [ngClass]="{'disabled-icon': prod.price === null}"
                style="cursor: pointer; color: green"
              ></ion-icon>
            </div>
            <p>
              <strong>PROMO:</strong>
              <span> {{ prod.inPromo ? 'Si' : 'No' }}</span>
            </p>
            <p><strong>Note:</strong> <span> {{ prod.note }}</span></p>
            <p>
              <strong>Data:</strong> <span> {{ formatDate(prod.date) }}</span>
            </p>

            <!-- Sezione immagini visibile solo per il prodotto selezionato -->
            <div *ngIf="expandedProduct === prod" class="image-gallery">
              <p><strong>Immagini:</strong></p>
              <div class="images">
                <img
                  *ngFor="let photo of photoUrls"
                  [src]="photo"
                  alt="Foto prodotto"
                  class="product-photo"
                />
              </div>
            </div>
          </ion-label>

          <!-- Bottone fotocamera -->
          <ion-button
            fill="clear"
            slot="end"
            class="camera-button"
            (click)="togglePhotoGallery(prod)"
            *ngIf="prod.photos && prod.photos.length > 0"
          >
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-item>

        <!-- Pulsante per eliminare il prodotto -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="confirmRemoveProduct(prod)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    } @else {
    <div class="noProduct">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      Nessun Prodotto Aggiunto
    </div>
    }
  </div>
</ion-content>
