.product-count {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
  padding: 10px;
  background-color: #f0f8ff; /* Un colore di sfondo chiaro per far risaltare il messaggio */
  border-radius: 8px;
  color: #2f4f4f; /* Colore del testo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
  /* Animazione di typing senza delay */
  animation: typing 1s linear forwards; /* Aggiungi animazione typing senza delay */
  /* Aggiungi flexbox per allineare l'icona e il testo sulla stessa riga */
  display: flex;
  align-items: center; /* Allinea verticalmente l'icona e il testo */
  justify-content: center; /* Centra il contenuto orizzontalmente */
  width: fit-content; /* Aggiunto per permettere il controllo del testo */
  overflow: hidden; /* Nasconde il testo in eccesso mentre la scrittura si anima */
  white-space: nowrap; /* Impedisce che il testo vada a capo */
}

.image-gallery {
  margin-top: 1rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.product-count ion-icon {
  margin-right: 8px;
  color: #00796b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.noProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  color: rgba(100, 198, 103, 0.7);
  z-index: 9999;
  pointer-events: none;
}

.noProduct ion-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #4caf50;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Stile per l'intera lista */
ion-list {
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per un look moderno */
  padding: 10px;
}
ion-item {
  border-bottom: 2px solid black; /* Linea nera più visibile */
}

/* Personalizzazione del testo */
ion-label {
  font-size: 16px;
  font-weight: bold;
  color: #000000; /* Colore leggibile */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Leggero effetto di ombra */
}

ion-item-sliding.removing {
  animation: explode 1s forwards ease-out;
  pointer-events: none;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(0.8) rotate(10deg);
    opacity: 0.8;
  }
  60% {
    transform: scale(0.6) rotate(-10deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

ion-label p {
  color: #333;
}

ion-label span {
  gap: 3;
  color: #666666;
}
.price-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Spazio tra gli elementi */
}

.price-container ion-input {
  max-width: 80px; /* Larghezza massima dell'input */
  text-align: right; /* Allinea il testo a destra */
}

.price-container ion-icon {
  font-size: 20px; /* Dimensione delle icone */
}
