<!-- Messaggio di successo -->
<div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive ? '#00000000' : '#fff'"
>
  <!-- Form Container -->
  <div
    class="form-container"
    [formGroup]="form"
    *ngIf="!scanActive"
    [style.margin-top]="'5rem'"
  >
    <!-- Centered Title -->
    <div class="form-title">
      <p>Inserisci i dati</p>
    </div>

    <ion-select
      label="Insegna *"
      placeholder="Seleziona"
      formControlName="shopName"
      class="custom-ion-select"
    >
      <ion-select-option value="Leroy Merlin">Leroy Merlin</ion-select-option>
      <ion-select-option value="Tecnomat">Tecnomat</ion-select-option>
      <ion-select-option value="Obi">Obi</ion-select-option>
      <ion-select-option value="Bricocenter">Bricocenter</ion-select-option>
      <ion-select-option value="BricoBravo">BricoBravo</ion-select-option>
      <ion-select-option value="Brico io">Brico io</ion-select-option>
      <ion-select-option value="EuroBrico">EuroBrico</ion-select-option>
      <ion-select-option value="Bricofer">Bricofer</ion-select-option>
      <ion-select-option value="BriCook">BriCook</ion-select-option>
      <ion-select-option value="CFadda Fai da te"
        >CFadda Fai da te</ion-select-option
      >
    </ion-select>

    <ion-text
      color="danger"
      *ngIf="form.get('shopName')?.invalid && form.get('shopName')?.touched"
    >
      Il nome del negozio è obbligatorio
    </ion-text>

    <ion-input
      type="text"
      fill="solid"
      label="Codice Utente *"
      labelPlacement="floating"
      errorText="Il codice utente è obbligatorio"
      formControlName="userCode"
    ></ion-input>

    <ion-input
      type="number"
      fill="solid"
      label="Prezzo *"
      labelPlacement="floating"
      errorText="Il prezzo è obbligatorio"
      formControlName="price"
    ></ion-input>

    <div class="promotion-toggle">
      <ion-label position="stacked">PROMO</ion-label>
      <ion-toggle formControlName="inPromo"></ion-toggle>
    </div>

    <ion-textarea
      fill="solid"
      label="Note"
      labelPlacement="floating"
      errorText="Le note sono obbligatorie"
      formControlName="note"
    ></ion-textarea>

    <ion-input
      type="text"
      fill="solid"
      label="Codice Prodotto *"
      labelPlacement="floating"
      helperText="Il codice scansionato apparirà qui"
      errorText="Il codice prodotto è obbligatorio"
      formControlName="code"
    ></ion-input>

    <!-- Scan Button Section -->
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button expand="full" (click)="startScanner()">
          <ion-icon name="scan" slot="start"></ion-icon> Inizia Scansione
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Add Product Button -->
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button
          expand="full"
          color="warning"
          class="add-product-button"
          [disabled]="form.invalid"
          (click)="addProduct()"
        >
          <ion-icon name="add-circle-outline" slot="start"></ion-icon> Aggiungi
          Prodotto
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row class="scanner-buttons" *ngIf="scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="fullscreen" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" *ngIf="scanActive"></div>
</ion-content>
