<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive ? '#00000000' : '#fff'"
>
  <!-- Form Container -->
  <div
    class="form-container"
    [formGroup]="form"
    *ngIf="!scanActive"
    [style.margin-top]="'5rem'"
  >
    <!-- Centered Title -->
    <div class="form-title">
      <p>Inserisci i dati del prodotto</p>
    </div>

    <ion-select
      label="Insegna *"
      placeholder="Seleziona"
      formControlName="shopName"
      class="custom-ion-select"
    >
      <ion-select-option *ngFor="let shop of shopNames" [value]="shop.name">
        {{ shop.name }}
      </ion-select-option>
    </ion-select>

    <ion-text
      color="danger"
      *ngIf="form.get('shopName')?.invalid && form.get('shopName')?.touched"
    >
      L'insegna è obbligatoria
    </ion-text>

    <ion-input
      type="text"
      fill="solid"
      label="Utente *"
      labelPlacement="floating"
      errorText="Il codice utente è obbligatorio"
      formControlName="userCode"
    ></ion-input>

    <ion-input
      type="number"
      fill="solid"
      label="Prezzo *"
      labelPlacement="floating"
      errorText="Il prezzo è obbligatorio"
      formControlName="price"
    ></ion-input>

    <div class="promotion-toggle">
      <ion-label>PROMO</ion-label>
      <ion-toggle formControlName="inPromo"></ion-toggle>
    </div>

    <ion-textarea
      fill="solid"
      label="Note"
      labelPlacement="floating"
      maxlength="250"
      errorText="Le note sono obbligatorie"
      formControlName="note"
    ></ion-textarea>
    <!-- Messaggio dinamico sotto il campo delle note -->
    <ion-text color="medium" *ngIf="form.get('note')?.value?.length > 0">
      <span *ngIf="remainingChars > 0">
        Puoi inserire ancora {{ remainingChars }} caratteri.
      </span>
      <span *ngIf="remainingChars === 0"> Lunghezza massima inserita. </span>
    </ion-text>

    <ion-input
      type="text"
      inputmode="numeric"
      fill="solid"
      label="Codice ean*"
      labelPlacement="floating"
      helperText="Il codice scansionato apparirà qui, ed ha bisogno di 13 cifre numeriche"
      [errorText]="getEanErrorText()"
      formControlName="ean"
    ></ion-input>

    @if (hasPhotos()) {
    <ion-row>
      <ion-col size="4" *ngFor="let photo of photoUrls; let i = index">
        <ion-item-sliding>
          <ion-item>
            <ion-img [src]="photo" [alt]="'Photo' + i"></ion-img>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="removePhoto(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
    }

    <!-- Scan Button Section -->
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <ion-button expand="full" shape="round" (click)="startScanner()">
          <ion-icon name="scan" slot="start"></ion-icon> Scan
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          class="add-product-button"
          [disabled]="form.invalid"
          (click)="addProduct()"
        >
          <ion-icon name="add-circle-outline" slot="start"></ion-icon> Aggiungi
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          expand="full"
          shape="round"
          [disabled]="disablePhotoButton()"
          (click)="takePhoto()"
        >
          <ion-icon name="camera-outline" slot="start"></ion-icon> Foto
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row class="scanner-buttons" *ngIf="scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="fullscreen" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" *ngIf="scanActive"></div>
</ion-content>
